<div class="grey">
    <svg class="icon icon--union">
        <use href="./icons/symbol/sprite.svg#union"></use>
    </svg>
    <svg class="icon icon--clock">
        <use href="./icons/symbol/sprite.svg#clock"></use>
    </svg>
    <svg class="icon icon--email">
        <use href="./icons/symbol/sprite.svg#email"></use>
    </svg>
    <svg class="icon icon--phone">
        <use href="./icons/symbol/sprite.svg#phone"></use>
    </svg>

    <svg class="icon icon--clock-orange">
        <use href="./icons/symbol/sprite.svg#clock-orange"></use>
    </svg>
    <svg class="icon icon--email-orange">
        <use href="./icons/symbol/sprite.svg#email-orange"></use>
    </svg>
    <svg class="icon icon--phone-orange">
        <use href="./icons/symbol/sprite.svg#phone-orange"></use>
    </svg>
    <svg class="icon icon--union-orange">
        <use href="./icons/symbol/sprite.svg#union-orange"></use>
    </svg>

    <svg class="icon icon--phone-black">
        <use href="./icons/symbol/sprite.svg#phone-black"></use>
    </svg>

    <svg class="icon icon--left">
        <use href="./icons/symbol/sprite.svg#left"></use>
    </svg>
    <svg class="icon icon--right">
        <use href="./icons/symbol/sprite.svg#right"></use>
    </svg>

    <svg class="icon icon--logo">
        <use href="./icons/symbol/sprite.svg#logo"></use>
    </svg>
</div>